*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
header{
    color: white;
    background-image:url('assests/main.jpg');
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.text-container{
    color: rgb(255, 255, 255);
    max-width: 900px;
    margin: 0 auto;
    padding-top: 8vh;
    padding-left: 8vw;
}

.text-container p span{
    font-size: 2rem;
    font-weight: 600;
    color: #ffcc00;
}
.text-container h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.intro{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro p{
    color: white;
    font-size: 3rem;
    /* text-align: center; */
    /* padding-top: 4vh; */
    font-weight: 600;
}

.services{
    /* background-color: rgb(145, 145, 145); */
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 30px;
}

.services .card{
    border: 1px solid #ccc;
    height: 450px;
    width: 300px;
    /* background-color: white; */
    border-radius: 10px;   
}
.services .card img{
    height: auto;
    max-width: 100%;
    margin: 20px auto;
    border: 1px solid black;
    
}

.services .card h2{
    text-align: start;
    font-size: 1.5rem;
    font-weight: 600;
}

.services .card p{
    text-align: start;
    font-size: 1rem;
    margin-top: 5px;
}
.services .card:hover{
    transform: scale(1.02);
    transition: 0.3s;
}



@media (max-width: 425px) {
    .text-container h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    .text-container p span {
        font-size: 1rem;
        display: block;
        text-align: center;
    }

    .intro p {
        font-size: 1.2rem;
        padding: 0 10px;
        text-align: center;
    }

    .services {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .services .card {
        width: 100%;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
}

